.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(15, 29, 69, 0.7);
  backdrop-filter:blur(5px);
  z-index: 200;
  visibility: hidden;
  opacity: 0;


  &__close {
    position: relative;
    border: none;
    background: transparent;
    padding: 20px;
    transform: translateX(500px);
    cursor: pointer;

    @include tablet {
      transform: translateX(300px);
    }

    @include mobile {
      transform: translateX(250px);
      padding: 1px;
    }

    &::after {
      content: "";
      position: absolute;
      width: 2px;
      height: 40px;
      background: var(--color-white);
      top: 0;
      left: 25px;
      transform: rotate(45deg);
      transition: background 0.3s ;

      @include tablet {
        height: 30px;
      }

      @include mobile {
        height: 25px;
        left: 10px;
      }
    }

    &::before {
      content: "";
      position: absolute;
      width: 2px;
      height: 40px;
      background: var(--color-white);
      top: 0;
      left: 25px;
      transform: rotate(-45deg);
      transition: background 0.3s ;

      @include tablet {
        height: 30px;
      }
      @include mobile {
        height: 25px;
        left: 10px;
      }
    }

    &:hover::after {
      background: rgba(255, 255, 255, 0.5);
    }

    &:focus::after {
      border: 1px solid rgb(221, 255, 127);
    }

    &:active::after {
      border: 1px solid rgb(67, 216, 216)
    }

    &:hover::before {
      background: rgba(255, 255, 255, 0.5);
    }

    &:focus::before {
      border: 1px solid rgb(221, 255, 127);
    }

    &:active::before {
      border: 1px solid rgb(67, 216, 216)
    }
  }


  &__box {
    position: absolute;
    left: -612px;
    top: 0;
    max-width: 612px;
    height: 100%;
    background: var(--color-bg-modal);
    padding: 30px;
    overflow-y: auto;
    opacity: 0;
    transition: transform .3s, opacity 0.3s;

    @include tablet {
      left: -400px;
      max-width: 400px;
    }

    @include mobile {
      left: -320px;
      max-width: 320px;
    }

  }


  &__title {
    color: white;
    font-size: 50px;
    font-family: "Raleway";
    font-weight: 600;
    line-height: 74.40px;
    max-width: 490px;
    margin: 35px 0 64px 60px;

    @include tablet {
      font-size: 30px;
      line-height: 50px;
      margin: 30px 0 60px 25px;
    }

    @include mobile {
      max-width: 192px;
      font-size: 20px;
      line-height: 29.76px;
      margin: 24px 0 40px 0px;
    }
  } 
}
  
.modal.open {
  visibility: visible;
  opacity: 1;
}


.modal.open .modal__box {
  transform: translateX(100%);

  @include mobile {
    transform: translateX(100%);
  }
  opacity: 1;
}

.active {
  visibility: hidden;
  position: relative;
}

.text {

  &__title {
    position: absolute;
    left: 186px;
    top: 159px;
    max-width: 227px;
    font-size: 50px;
    font-family: Raleway;
    font-weight: 600;
    line-height: 78.90px;
    margin-bottom: 30px;

    @include tablet {
      font-size: 35px;
      line-height: 40px;
      left: 90px;
      top: 180px;
      text-align: center;
    }

    @include mobile {
      font-size: 30px;
      left: 45px;
      top: 180px;
    }

  }

  &__desc {
    position: absolute;
    text-align: center;
    left: 82px;
    top: 417px;
    max-width: 447px;
    font-size: 40px;
    font-family: Raleway;
    font-weight: 600;
    line-height: 58px;

    @include tablet {
      max-width: 300px;
      font-size: 28px;
      line-height: 40px;
      left: 55px;
      top: 417px;
      text-align: center;
    }

    @include mobile {
      max-width: 250px;
      font-size: 24px;
      left: 30px;
    }
  }

  &__logo {
    position: absolute;
    border-bottom: 1px solid var(--color-white);
    border-top: 1px solid var(--color-white);
    padding-top: 3px;
    padding-bottom: 3px;
    position: absolute;
    right: 58px;
    bottom: 70px;

    @include tablet {
      right: 50px;
      bottom: -400px;
      max-width: 130px;
    }
  }
}