.purpose {
  position: relative;
  margin-left: 27px;

  &__left {
    &::after {
      @include vertical-border;
    }

    @include desktop-medium {
        grid-column: 1/2;
        grid-row: 3/4;
      }
  }

  &__right {
    &::before {
      @include vertical-border;
      left: -29px;
    }

    @include desktop-medium {
      grid-column: 2/3;
      grid-row: 3/4;
    }

    @include tablet {
      transform: translateX(-65px);
    }

    @include mobile {
      transform: translateX(-200px);
    }
  }
  
  &__num {
    display: block;
    font-size: 40px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 56.52px;
    margin-bottom: 29px;

    @include desktop-small {
      font-size: 30px;
    }

    @include mobile {
      font-size: 16px;
      line-height: 22.61px;
      margin-bottom: 10px;
    }

    &_css {
      margin-bottom: 36px;

      @include desktop-small {
        margin-bottom: 25px;
      }

      @include mobile {
        margin-bottom: 10px;
      }
    }
  }
  
  &__desc {
    color: var(--color-gray);
    font-size: 16px;
    font-family: Raleway;
    font-weight: 400;
    text-transform: lowercase;
    line-height: 19.65px;
    max-width: 166px;

    @include mobile {
      display: none;
  }

    &_text {
      display: none;

      @include mobile {
        display: block;
        font-size: 10px;
        text-transform: lowercase;
        line-height: 12.28px;
    }

    @include desktop-small {
      font-size: 14px;
    }

    @include mobile {
      font-size: 10px;
      line-height: 12.28px;
    }
  }
}
} 